{% extends 'base.html.twig' %}

{% block body %}
    
        <div class="blockHome">
            <h1>Bienvenue sur Todo List, l'application vous permettant de gérer l'ensemble de vos tâches sans effort !</h1>
            <div class="img">
                <img class="slide-image" src="{{ asset('img/todolist_homepage.jpg') }}" alt="todo list">
            </div>
        </div>
        
    
{% endblock %}
