{% extends 'base.html.twig' %}

{% block body %}
    <div class="containerForm">
        <h1>Ajouter une nouvelle tache</h1>
        {{ form_start(form, {'action' : path('task_create')}) }}
            {{ form_widget(form) }}

            <div class="containerSubmit">
                <input type="submit" value="Ajouter">
            </div>
        {{ form_end(form) }}
    </div>
{% endblock %}
