{% extends 'base.html.twig' %}

{% block body %}
    <div class="containerForm">
        {{ form_start(form, {'action' : path('task_edit', { 'id' : task.id })}) }}
            {{ form_widget(form) }}

            <div class="containerSubmit">
                <input type="submit" value="Modifier">
            </div>
        {{ form_end(form) }}
    </div>
{% endblock %}
