{% extends 'base.html.twig' %}

{% block header_title %}{% endblock %}
{% block header_img %}{% endblock %}

{% block body %}
    <div class="containerForm">
        <h1>Créer un utilisateur</h1>
        {{ form_start(form, {'action' : path('user_create')}) }}
            {{ form_widget(form) }}

            <div class="containerSubmit">
                <input type="submit" value="Ajouter">
            </div>
        {{ form_end(form) }}
    </div>
{% endblock %}
